@model IEnumerable<WebAppTutorial.EntityDAL.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="PostCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="PostEdit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="PostDetails" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="PostDelete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
